<div class="wrapper">
  <h1>These following coffees are pending</h1>
  <div class="container">
    <button type="button" class="add_coffee_btn" data-toggle="modal" data-target="#new_sample_modal">
      Add a new sample
    </button>

    <!-- Modal -->

    <div class="modal fade" id="new_sample_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Create new sample</h4>
          </div>
          <div class="modal-body">
            <%= simple_form_for Sample.new do |f| %>
              <%= f.input :coffee_lot %>
              <%= f.input :exporter %>
              <%= f.submit "save", class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <ul class= "no-bullet">
      <% @samples.each do |sample| %>
          <li>
            <%= render "shared/card_sample", sample: @sample %>
            <%= link_to "mark as received", update_after_reception_sample_path(sample), method: :post, class: "btn btn-success" %>
          </li>
      <% end %>
    </ul>
  </div>
</div>

