<div class="card-box">
  <div class="card-main">

    <div class="card-top">
      <div class="card-title">
        <div style="display: flex; align-content: center;">
          <strong style="color: $main">SAMPLE N°</strong><%= sample.id %>, &nbsp;<strong style="color: $main">FROM</strong> &nbsp; <%= sample.coffee_lot.provenance %>, &nbsp;<strong style="color: $main">QUALITY</strong> &nbsp;<%= sample.coffee_lot.quality_description %> &nbsp; <strong style="color: $main">SENT BY</strong>&nbsp; <%= sample.exporter.company_name %></strong>
        </div>
      </div>
      <div class=card-status> Status:&nbsp;<%= sample.status %>&nbsp;
      </div>
      <div class="card-score">
        <% if sample.status == "tested" || sample.status == "labelled" || sample.status == "sent" %>
          <% sum = sample.sweetness.to_i + sample.acidity.to_i + sample.clean.to_i %>
          <span style="font-size: 20px;"><%= sum %></span><span> /30</span>
        <% else %>
          <span> &nbsp; </span>
        <% end %>
      </div>
    </div>

    <div class="card-content">

      <div class="card-import">
        <% if sample.stage == "Offer Sample" %>
          <div class="card-stage active current">Offer</div>
          <div class="card-stage">Purchase</div>
          <div class="card-stage">Loading</div>
          <div class="card-stage">Port</div>
          <div class="card-stage">Warehouse</div>
          <div class="card-stage">Sale</div>

        <% elsif sample.stage == "Purchase Sample" %>
          <div class="card-stage active">Offer</div>
          <div class="card-stage active current">Purchase</div>
          <div class="card-stage">Loading</div>
          <div class="card-stage">Port</div>
          <div class="card-stage">Warehouse</div>
          <div class="card-stage">Sale</div>

        <% elsif sample.stage == "Loading Sample" %>
          <div class="card-stage active">Offer</div>
          <div class="card-stage active">Purchase</div>
          <div class="card-stage active current">Loading</div>
          <div class="card-stage">Port</div>
          <div class="card-stage">Warehouse</div>
          <div class="card-stage">Sale</div>

        <% elsif sample.stage == "Port Sample" %>
          <div class="card-stage active">Offer</div>
          <div class="card-stage active">Purchase</div>
          <div class="card-stage active">Loading</div>
          <div class="card-stage active current">Port</div>
          <div class="card-stage">Warehouse</div>
          <div class="card-stage">Sale</div>

        <% elsif sample.stage == "Warehouse Sample" %>
          <div class="card-stage active">Offer</div>
          <div class="card-stage active">Purchase</div>
          <div class="card-stage active">Loading</div>
          <div class="card-stage active">Port</div>
          <div class="card-stage active current">Warehouse</div>
          <div class="card-stage">Sale</div>

        <% elsif sample.stage == "Sale Sample" %>
          <div class="card-stage active">Offer</div>
          <div class="card-stage active">Purchase</div>
          <div class="card-stage active">Loading</div>
          <div class="card-stage active">Port</div>
          <div class="card-stage active">Warehouse</div>
          <div class="card-stage active current">Sale</div>

        <% end %>
      </div>

      <div class="card-description-action">

        <div class="card-description">
          <div class="card-field">
            <div class="card-key">
              <p><strong>Quantity:</strong></p>
            </div>
            <div class="card-value">
              <p><%= sample.coffee_lot.quantity %> bags</p>
            </div>
          </div>

          <div class="card-field">
            <div class="card-key">
              <p><strong>Region:</strong></p>
            </div>
            <div class="card-value">
              <p><%= sample.coffee_lot.region %></p>
            </div>
          </div>

          <div class="card-field">
            <div class="card-key">
              <p><strong>Potential clients:</strong></p>
            </div>
            <div class="card-value">
              <% count = 1 %>
              <% sample.coffee_lot.potential_clients.each do |potential_client| %>
                <% if count == 1 %>
                  <span><%= potential_client.client.company_name %></span>
                <% else %>
                  <span>, <%= potential_client.client.company_name %></span>
                <% end %>
                <% count += 1 %>
              <% end %>
            </div>
          </div>
        </div>

          <div class="card-action">
            <div class="card-action-show text-center">
              <%= link_to "<i class='fas fa-eye'></i>".html_safe, coffeelot_path(sample.coffee_lot) %>
            </div>
            <% if sample.status == "pending" %>
              <div class="card-action-edit text-center">
                <button type="button" data-toggle="modal" data-target="#edit-pending-sample-<%= sample.id %>">
                  <i class='fas fa-edit'></i>
                </button>
                <%= link_to "<i class='fas fa-inbox'></i>".html_safe, update_after_reception_sample_path(sample), method: :post, remote: true %>
              </div>
            <% elsif sample.status == "received" %>
              <div class="card-action-edit text-center">
                <button type="button" data-toggle="modal" data-target="#sample-<%= sample.id %>">
                  <i class='fas fa-coffee'></i>
                </button>
              </div>
            <% elsif sample.status == "tested" %>
              <div class="card-action-edit text-center">
                <%= link_to "<i class='fas fa-tags'></i>".html_safe, update_after_labelling_sample_path(sample), method: :post %>
              </div>
            <% elsif sample.status == "labelled" %>
              <div class="card-action-edit text-center">
                <%= link_to "<i class='fas fa-share-square'></i>".html_safe, update_after_emailing_sample_path(sample), method: :post %>
              </div>
            <% else %>
              <div class="card-action-edit text-center">
                <%= link_to "<i class='fas fa-edit'></i>".html_safe, edit_sample_path(sample), method: :post %>
              </div>
            <% end %>
          </div>
      </div>
    </div>

  </div>

<!--   <div class="card-expendable">
    <p>More info will be displayed here using AJAX</p>
  </div> -->

</div>
