<div class="card-box" id='<%= "sample-#{sample.id}" %>'>
  <div class="card-main">
    <div class="card-main-illustration">
      <div class="card-main-country">
        <%= sample.coffee_lot.provenance %>
      </div>
      <div class="card-main-quality">
        <%= sample.coffee_lot.quality_description %>
      </div>
      <div class="card-main-picture">

      </div>
      <div class="card-main-quantity">
        <%= sample.coffee_lot.quantity %> bags
      </div>
      <div class="card-main-sample">
        Sample: #<%= sample.id %>
      </div>
    </div>
    <div class="card-main-journey">
      <div class="card-main-journey">
        Journey
      </div>
      <div class="card-main-stages">
        <div class="card-main-cursor">
          <div class="card-stage-fill"><%= '<i class="fas fa-caret-right"></i>'.html_safe if sample.stage == "Offer Sample" %></div>
          <div class="card-stage-fill"><%= '<i class="fas fa-caret-right"></i>'.html_safe if sample.stage == "Purchase Sample" %></div>
          <div class="card-stage-fill"><%= '<i class="fas fa-caret-right"></i>'.html_safe if sample.stage == "Loading Sample" %></div>
          <div class="card-stage-fill"><%= '<i class="fas fa-caret-right"></i>'.html_safe if sample.stage == "Port Sample" %></div>
          <div class="card-stage-fill"><%= '<i class="fas fa-caret-right"></i>'.html_safe if sample.stage == "Warehouse Sample" %></div>
          <div class="card-stage-fill"><%= '<i class="fas fa-caret-right"></i>'.html_safe if sample.stage == "Sale Sample" %></div>
        </div>
        <div class="card-main-stage">
          <div class="card-stage-fill"><strong>Offer </strong></div>
          <div class="card-stage-fill"><strong>Purchase </strong></div>
          <div class="card-stage-fill"><strong>Loading </strong></div>
          <div class="card-stage-fill"><strong>Port </strong></div>
          <div class="card-stage-fill"><strong>Warehouse </strong></div>
          <div class="card-stage-fill"><strong>Sale </strong></div>
        </div>
      </div>
    </div>

    <div class="card-main-result">
      <div class="card-main-result-title">
        Result
      </div>
      <div class="card-main-result-ratings">
        <div class="card-main-result-rating-title">
          Note:
        </div>
        <div class="card-main-score">
          <% if sample.status == "tested" || sample.status == "labelled" || sample.status == "sent" %>
            <% sum = sample.sweetness + sample.acidity + sample.clean %>
            <%= sum %> /30
          <% else %>
            &nbsp;
          <% end %>
        </div>
      </div>
      <div class="card-main-result-clients">
        <div class="card-main-result-clients-title">
          Potential clients
        </div>
        <div class="card-main-result-clients-list">
          <% sample.coffee_lot.potential_clients.each do |potential_client| %>
            <div><span><%= potential_client.client.company_name %></span></div>
          <% end %>
        </div>
      </div>
    </div>

  </div>

  <div class="card-action">
    <div class="card-action-show">
      <%= link_to "<i class='fas fa-eye'></i>".html_safe, coffeelot_path(sample.coffee_lot) %>
    </div>
    <div class="card-action-edit">
      <% if sample.status == "pending" %>
        <button type="button" data-toggle="modal" data-target="#edit-pending-sample-<%= sample.id %>">
          <i class='fas fa-edit'></i>
        </button>
      <% elsif %>
        <button type="button" data-toggle="modal" data-target="#edit-sent-sample-<%= sample.id %>">
          <i class='fas fa-edit'></i>
        </button>
      <% else %>
        <span> &nbsp;</span>
      <% end %>
    </div>
    <div class="card-action-next">
      <% if sample.status == "pending" %>
        <div class="card-action-edit text-center removable">
            <%= link_to "<i class='fas fa-inbox'></i>".html_safe, update_after_reception_sample_path(sample), method: :post %>
        </div>
      <% elsif sample.status == "received" %>
        <div class="card-action-edit text-center">
          <button type="button" data-toggle="modal" data-target="#sample-<%= sample.id %>">
            <i class='fas fa-coffee'></i>
          </button>
        </div>
      <% elsif sample.status == "tested" %>
        <div class="card-action-edit text-center">
          <%= link_to "<i class='fas fa-tags'></i>".html_safe, update_after_labelling_sample_path(sample), method: :post %>
        </div>
      <% elsif sample.status == "labelled" %>
        <div class="card-action-edit text-center">
          <%= link_to "<i class='fas fa-share-square'></i>".html_safe, update_after_emailing_sample_path(sample), method: :post %>
        </div>
      <% end %>
    </div>
  </div>

</div>


<!-- Modal Edit PENDING Sample -->

<div class="modal fade" id="edit-pending-sample-<%= sample.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" style="width: 30%" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit sample</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for sample, url: update_after_test_sample_path(sample), method: :patch do |f| %>
          <%= f.input :stage, collection: ["Offer Sample", "Purchase Sample", "Loading Sample", "Port Sample", "Warehouse Sample", "Sale Sample"] %>


          <br>
          <%= f.submit "Edit", class: "btn btn-primary" %>
          <br>
          <br>
          <p>Click on <%= link_to " <i class='fas fa-eye'></i> ".html_safe, coffeelot_path(sample.coffee_lot) %> to edit coffee lot information.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Modal Edit SENT Sample -->

<div class="modal fade" id="edit-sent-sample-<%= sample.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" style="width: 30%" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit sample</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for sample, url: sample_path(sample), method: :patch do |f| %>
          <%= f.input :stage, collection: ["Offer Sample", "Purchase Sample", "Loading Sample", "Port Sample", "Warehouse Sample", "Sale Sample"] %>
          <%= f.input :acidity %>
          <%= f.input :sweetness %>
          <%= f.input :clean %>
          <%= f.input :flavour %>
          <br>
          <%= f.submit "Edit", class: "btn btn-primary" %>
          <br>
          <br>
          <p>Click on <%= link_to " <i class='fas fa-eye'></i> ".html_safe, coffeelot_path(sample.coffee_lot) %> to edit coffee lot information.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
