<div class="animation">
  <% if action_name == 'pending_index'%>
    <div class="navbar2-wagon-animation">
  <% else %>
    <div class="navbar2-wagon">
  <% end %>
  <div class="container">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <%=image_tag("reception_icon.png", :class => "logo-progressbar")%>
        <%= link_to "Reception", pending_index_samples_path, class: "#{'active-tab' if action_name == 'pending_index'}"%>
        <div class="button">
          <span class="<%= samples_count_css_class(@samples_count, 0) %>"><%= @samples_count[0] %></span>
        </div>
      </li>

      <li class="nav-item">
        <%=image_tag("card-coffeebean.png", :class => "logo-progressbar")%>
        <%= link_to "Test", received_index_samples_path, class: "#{'active-tab' if action_name == 'received_index'}"  %>
        <div class="button">
          <span class="<%= samples_count_css_class(@samples_count, 1) %>"><%= @samples_count[1] %></span>
        </div>
      </li>

      <li class="nav-item">
        <%=image_tag("price-tag.png", :class => "logo-progressbar")%>
        <%= link_to "Labelling", tested_index_samples_path, class: "#{'active-tab' if action_name == 'tested_index'}" %>
        <div class="button">
           <span class="<%= samples_count_css_class(@samples_count, 2) %>"><%= @samples_count[2] %></span>
         </div>
      </li>

       <li class="nav-item">
         <%=image_tag("email.png", :class => "logo-progressbar")%>
         <%= link_to "Emailing", labelled_index_samples_path, class: "#{'active-tab' if action_name == 'labelled_index'}" %>
         <div class="button">
           <span class="<%= samples_count_css_class(@samples_count, 3) %>"><%= @samples_count[3] %></span>
         </div>
       </li>

       <li class="nav-item">
        <%=image_tag("check-mark.png", :class => "logo-progressbar")%>
         <%= link_to "Sent", sent_index_samples_path, class: "#{'active-tab' if action_name == 'sent_index'}"%>
         <div class="button">
           <span class="<%= samples_count_css_class(@samples_count, 4) %>"><%= @samples_count[4] %></span>
         </div>
       </li>
     </ul>



  </div>
</div>

