<div class="navbar2-wagon">
  <div class="container">
    <ul class="nav nav-pills nav-fill">
      <% if @samples_count[0] != 0 %>

        <li class="nav-item" class="bottom_border if action_name == pending_index">
          <i class="fas fa-inbox"></i>
          <%= link_to "Reception",pending_index_samples_path%>
          <p class= "samples-left-status"><%= @samples_count[0] %></p>
        </li>

        <li class="nav-item">
          <i class="fas fa-coffee"></i>
          <%= link_to "Test", received_index_samples_path%>
          <div class="button">
            <span class="button__badge"><%= @samples_count[1] %></span>
          </div>
        </li>

        <li class="nav-item">
          <i class="fas fa-tags"></i>
          <%= link_to "Labelling", tested_index_samples_path%>
          <p class= "samples-left-status"><%= @samples_count[2] %></p>
        </li>

         <li class="nav-item">
           <i class="fas fa-share-square"></i>
           <%= link_to "Emailing", labelled_index_samples_path%>
           <p class= "samples-left-status"><%= @samples_count[3] %></p>
         </li>

         <li class="nav-item">
           <i class="fas fa-check-circle"></i>
           <%= link_to "Sent", sent_index_samples_path%>
           <p class= "samples-left-status"><%= @samples_count[4] %></p>
         </li>


       <% elsif @samples_count[0] == 0 %>
         <li class="nav-item">
          <i class="fas fa-inbox"></i>
          <%= link_to "Reception",pending_index_samples_path%>
          <div class="button">
            <span class="button__badge_active"><%= @samples_count[0] %></span>
          </div>
        </li>

        <li class="nav-item">
          <i class="fas fa-coffee"></i>
          <%= link_to "Test", received_index_samples_path%>
          <div class="button">
            <span class="button__badge"><%= @samples_count[1] %></span>
          </div>
         </li>

         <li class="nav-item">
           <i class="fas fa-tags"></i>
           <%= link_to "Labelling", tested_index_samples_path%>
            <div class="button">
             <span class="button__badge"><%= @samples_count[2] %></span>
           </div>         </li>

         <li class="nav-item">
           <i class="fas fa-share-square"></i>
           <%= link_to "Emailing", labelled_index_samples_path%>
            <div class="button">
             <span class="button__badge"><%= @samples_count[3] %></span>
           </div>         </li>

         <li class="nav-item">
           <i class="fas fa-check-circle"></i>
           <%= link_to "Sent", sent_index_samples_path%>
            <div class="button">
             <span class="button__badge"><%= @samples_count[4] %></span>
           </div>
        </li>


       <% elsif @samples_count[1] == 0 %>
         <li class="nav-item">
           <i class="fas fa-inbox"></i>
           <%= link_to "Reception",pending_index_samples_path%>
           <div class="button">
             <span class="button__badge_active"><%= @samples_count[0] %></span>
           </div>
          </li>
         <li class="active" class="nav-item">
           <i class="fas fa-coffee"></i>
           <%= link_to "Test", received_index_samples_path%>
           <div class="button">
            <span class="button__badge_active"><%= @samples_count[1] %></span>
          </div>
         </li>
         <li class="nav-item">
           <i class="fas fa-tags"></i>
           <%= link_to "Labelling", tested_index_samples_path%>
           <div class="button">
            <span class="button__badge"><%= @samples_count[2] %></span>
          </div>
         </li>
         <li class="nav-item">
           <i class="fas fa-share-square"></i>
           <%= link_to "Emailing", labelled_index_samples_path%>
           <div class="button">
            <span class="button__badge"><%= @samples_count[3] %></span>
          </div>
         </li>
         <li class="nav-item">
           <i class="fas fa-check-circle"></i>
           <%= link_to "Sent", sent_index_samples_path%>
           <div class="button">
            <span class="button__badge"><%= @samples_count[4] %></span>
          </div>
         </li>


       <% elsif @samples_count[2] == 0 %>
         <li class="nav-item">
           <i class="fas fa-inbox"></i>
           <%= link_to "Reception",pending_index_samples_path%><p class= "samples-left-status">
           <div class="button">
             <span class="button__badge_active"><%= @samples_count[0] %></span>
           </div>
         </li>
         <li class="active" class="nav-item">
           <i class="fas fa-coffee"></i>
           <%= link_to "Test", received_index_samples_path%>
           <div class="button">
            <span class="button__badge_active"><%= @samples_count[1] %></span>
          </div>
         </li>
         <li class="active" class="<%= "bottom_border" if action_name == "tested_index"%>">
           <i class="fas fa-tags"></i>
           <%= link_to "Labelling", tested_index_samples_path%>
           <p class= "samples-left-status"><%= @samples_count[2] %></p>
         </li>
         <li class="nav-item">
           <i class="fas fa-share-square"></i>
           <%= link_to "Emailing", labelled_index_samples_path%>
           <p class= "samples-left-status"><%= @samples_count[3] %></p>
         </li>
         <li class="nav-item">
           <i class="fas fa-check-circle"></i>
           <%= link_to "Sent", sent_index_samples_path%>
           <p class= "samples-left-status"><%= @samples_count[4] %></p>
         </li>


       <% elsif @samples_count[3] == 0 %>
         <li class="nav-item">
           <i class="fas fa-inbox"></i>
           <%= link_to "Reception",pending_index_samples_path%>
           <div class="button">
            <span class="button__badge_active"><%= @samples_count[0] %></span>
          </div>
         </li>

         <li class="active" class="nav-item">
           <i class="fas fa-coffee"></i>
           <%= link_to "Test", received_index_samples_path%>
           <div class="button">
            <span class="button__badge_active"><%= @samples_count[1] %></span>
          </div>
         </li>

         <li class="active" class="<%= "bottom_border" if action_name == "tested_index"%>">
           <%= link_to "Labelling", tested_index_samples_path%>
           <i class="fas fa-tags"></i>
           <div class="button">
            <span class="button__badge_active"><%= @samples_count[2] %></span>
          </div>
         </li>

         <li class= "active" class="<%= "bottom_border" if action_name == "labelled_index"%>">
           <i class="fas fa-share-square"></i>
           <%= link_to "Emailing", labelled_index_samples_path%>
           <div class="button">
            <span class="button__badge_active"><%= @samples_count[3] %></span>
          </div>
         </li>

         <li class="nav-item">
           <i class="fas fa-check-circle"></i>
           <%= link_to "Sent", sent_index_samples_path%>
           <div class="button">
            <span class="button__badge"><%= @samples_count[4] %></span>
          </div>
         </li>


       <% else %>
         <li class="nav-item">
           <i class="fas fa-inbox"></i>
           <%= link_to "Reception",pending_index_samples_path%><p class= "samples-left-status">
           <div class="button">
            <span class="button__badge_active"><%= @samples_count[0] %></span>
          </div>
         </li>

         <li class="active" class="nav-item">
           <i class="fas fa-coffee"></i>
           <%= link_to "Test", received_index_samples_path%>
           <div class="button">
            <span class="button__badge_active"><%= @samples_count[1] %></span>
          </div>
         </li>


         <li class="active" class="<%= "bottom_border" if action_name == "tested_index"%>">
           <i class="fas fa-tags"></i>
           <%= link_to "Labelling", tested_index_samples_path%>
           <div class="button">
            <span class="button__badge_active"><%= @samples_count[2] %></span>
          </div>
         </li>

         <li class="active" class="<%= "bottom_border" if action_name == "labelled_index"%>">
           <i class="fas fa-share-square"></i>
           <%= link_to "Emailing", labelled_index_samples_path%>
           <div class="button">
            <span class="button__badge_active"><%= @samples_count[3] %></span>
          </div>
         </li>

         <li class="active" class="<%= "bottom_border" if action_name == "sent_index"%>">
           <i class="fas fa-check-circle"></i>
           <%= link_to "Sent", sent_index_samples_path%>
           <div class="button">
            <span class="button__badge_active"><%= @samples_count[4] %></span>
          </div>
         </li>
       <% end %>
     </ul>
  </div>
</div>

