<div class="navbar-wagon">
  <!-- Logo -->
  <div class="whitebackground">
  </div>

  <div class="higher-logo-company logo-company-navbar">
    <%= link_to root_path, class: "navbar-wagon-brand" do %>
      <%= image_tag "ecom.png", class: "ecom-logo" %>
    <% end %>
  </div>


  <div class=left-element>
    <svg width="150" height="70" viewBox="0 0 150 70" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 0H137.143C137.143 0 144.478 21.5625 146.484 33.4375C148.879 47.6127 150 70 150 70H0V0Z" fill="#ECF1EE"/>
    </svg>
  </div>

  <div class="white-space-navbar">
    <% if params[:controller]== "coffeelots" %>
      <div class="navbar-samplify">
        <%= link_to 'Samplify', pending_index_samples_path %>
        <%= link_to 'Trade', approved_index_samples_path%>
      </div>
    <% elsif action_name != 'home' %>
      <div class="navbar-samplify">
        <%= link_to 'Samplify', pending_index_samples_path, class: "navbar-samplify", class: "#{'active-tab-navbar' if action_name != 'approved_index'}" %>
        <%= link_to 'Trade', approved_index_samples_path, class: "#{'active-tab-navbar' if action_name == 'approved_index'}"%>
      </div>
    <% else %>
      <div class="navbar-samplify">
        <%= link_to 'Samplify', pending_index_samples_path %>
        <%= link_to 'Trade', approved_index_samples_path%>
      </div>
    <% end %>
  </div>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= render 'shared/searchbar' %>


    <% if user_signed_in? %>
      <!-- Avatar with dropdown menu -->

      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%=  image_tag("Louis.jpg", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown") %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>






