<% if user_signed_in? %>
  <div class="wrapper">
    <div class="container">
      <div class='title-main'><h1>Hello <%= current_user.first_name %>! Ready to samplify?</h1></div>

      <div class='title-second'> <%= Sample.count %> coffee samples currently under management</div>
      <div class='sample-dashboard'>
        <div class='sample-status'>
          <div class='sample-count'><%= Sample.pending.count %></div>
          <div class='sample-count-status'> samples pending</div>
          <div class='sample-action'>
            <p>Go to reception</p>
            <p><%= link_to "<i class='fas fa-inbox'></i>".html_safe, pending_index_samples_path, method: :get %></p>
          </div>
        </div>
        <div class='sample-status'>
          <div class='sample-count'><%= Sample.received.count %></div>
          <div class='sample-count-status'> samples received</div>
          <div class='sample-action'>
            <p>Go to testing </p>
            <p><%= link_to "<i class='fas fa-coffee'></i>".html_safe, received_index_samples_path, method: :get %></p>
          </div>
        </div>
        <div class='sample-status'>
            <div class='sample-count'><%= Sample.tested.count %></div>
            <div class='sample-count-status'> samples tested</div>
          <div class='sample-action'>
            <p> Go to labelling</p>
            <p><%= link_to "<i class='fas fa-tags'></i>".html_safe, tested_index_samples_path, method: :get %></p></div>
        </div>
        <div class='sample-status'>
          <div class='sample-count'><%= Sample.labelled.count %></div>
            <div class='sample-count-status'> samples labelled</div>
          <div class='sample-action'>
            <p>Go to sending</p>
            <p><%= link_to "<i class='fas fa-share-square'></i>".html_safe, labelled_index_samples_path, method: :get %></p>
          </div>
        </div>
      </div>

      <div class='title-second'> <%= CoffeeLot.count %> coffee lots  currently under management</div>




      <div class="world-map">
      <h3>Locate your coffee lots provenance</h3>
        <img style="width: 1000px;" src="https://upload.wikimedia.org/wikipedia/commons/5/56/Newworldmap_grayscale.svg" alt="locate your coffee lots provenance">
      </div>

      <br>
      <div class="home-monitor-sample">
        <h3>Current activity</h3>
        <ul>
          <li><strong>Number of samples under management:</strong> <%= @samples.count %></li>
          <li><strong>Number of coffee lots under management:</strong> <%= @coffee_lot.count %></li>
          <li><strong>Number of coffee lots under management:</strong> <%= @coffee_lot.count %></li>
          <li><strong>Quantity of coffee under management:</strong> <%= @quantity.sum %> bags</li>
        </ul>
      </div>

      <div class="coffee-news">
        <h3>Coffee news</h3>
        <%= image_tag "coffee.news.png" %>
      </div>
    </div>
  </div>

<% else %>
  <div class="home-banner">
    <h1 class="text-center">Welcome to ISamplify</h1>
    <%= image_tag "ecom.png", height: 50, class: "home-logo" %>
    <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "home-login" %>
  </div>

  <div class="home-presentation">
    <div class="home-presentation-element"">
      <br>
      <h3>Samplify your coffee-lots monitoring</h3>
      <br>
      <p>You get notifications from all the stakeholders of the import chain and always know where your goods are.</p>
    </div>

    <div class="home-presentation-element"">

      <br>
      <h3>Samplify your samples management</h3>
      <br>
      <p>Erase the pain of individual in-house samples follow-up: validate reception, test your sample and send it seamlessly.</p>
    </div>


    <div class="home-presentation-element">
      <br>
      <h3>Samplify your relatons with customers</h3>
      <br>
      <p>Assign your best coffees to your best customers according to your test to never miss a deal</p>
    </div>
  </div>
<% end %>

