<% if user_signed_in? %>
  <div class="wrapper">
    <div class="container">
      <div class='title-main'><h1>Hello <%= current_user.first_name %>! Ready to samplify?</h1></div>

      <div class='title-second'> You have currently <%= Sample.count %> under management</div>
      <div class='sample-dashboard'>
        <div class='sample-status'>
          <div class='sample-count'><%= Sample.pending.count %> samples pending</div>
          <div class='sample-action'>Go to reception <%= link_to "<i class='fas fa-inbox'></i>".html_safe, pending_index_samples_path, method: :post %></div>
        </div>
        <div class='sample-status'>
          <div class='sample-count'><%= Sample.received.count %> samples received</div>
          <div class='sample-action'>Go to testing <%= link_to "<i class='fas fa-inbox'></i>".html_safe, received_index_samples_path, method: :post %></div>
        </div>
        <div class='sample-status'>
          <div class='sample-count'><%= Sample.tested.count %> samples tested</div>
          <div class='sample-action'>Go to labelling <%= link_to "<i class='fas fa-inbox'></i>".html_safe, tested_index_samples_path, method: :post %></div>
        </div>
        <div class='sample-status'>
          <div class='sample-count'><%= Sample.labelled.count %> samples labelled</div>
          <div class='sample-action'>Go to sending <%= link_to "<i class='fas fa-inbox'></i>".html_safe, labelled_index_samples_path, method: :post %></div>
          </%>
        </div>
        <div class='sample-status'>
          <div class='sample-count'><%= Sample.sent.count %> samples sent</div>
        </div>
      </div>

      <div class='title-second'> You have currently <%= CoffeeLot.count %> under management</div>



      <div class="card-shop">
        <div class="title">
          <p> Dashboard</p>
        </div>

        <div class="item">
          <div class="information">
            <div class="basket-coffee-information">
              <div class= "text-left">
                <p>Data validation:</p>
              </div>
              <div class= "text-right">
                <p>number pending</p>
              </div>
            </div>
            <div class="basket-coffee-information">
              <p>Quality testing:</p>
              <p class="in-stock"><strong> number </strong></p>
            </div>
            <div class="basket-coffee-information">
              <p>Emailing:</p>
              <p class="in-stock"><strong> number pending </strong></p>
            </div>
          </div>
        </div>
      </div>

      <div class="world-map">
      <h3>Locate your coffee lots provenance</h3>
        <img style="width: 1000px;" src="https://upload.wikimedia.org/wikipedia/commons/5/56/Newworldmap_grayscale.svg" alt="locate your coffee lots provenance">
      </div>

      <br>
      <div class="home-monitor-sample">
        <h3>Current activity</h3>
        <ul>
          <li><strong>Number of samples under management:</strong> <%= @samples.count %></li>
          <li><strong>Number of coffee lots under management:</strong> <%= @coffee_lot.count %></li>
          <li><strong>Number of coffee lots under management:</strong> <%= @coffee_lot.count %></li>
          <li><strong>Quantity of coffee under management:</strong> <%= @quantity.sum %> bags</li>
        </ul>
      </div>

      <div class="coffee-news">
        <h3>Coffee news</h3>
        <%= image_tag "coffee.news.png" %>
      </div>

      <!-- <div>
        <%= #render "/shared/dashboard.html.erb" %>
      </div> -->
    </div>
  </div>

<% else %>
  <div class="home-banner">
    <h1 class="text-center">Welcome to ISamplify</h1>
    <%= image_tag "ecom.png", height: 50, class: "home-logo" %>
    <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "home-login" %>
  </div>

  <div class="home-presentation">
    <div class="home-presentation-element"">
      <br>
      <i class="fas fa-coffee"></i>
      <br>
      <h4>Samplify your daily samples management</h4>
      <br>
      <p>With ISamplify you erase the pain of individual sample follow-up: reception, testing, labelling and  </p>
    </div>

    <div class="home-presentation-element"">
      <br>
      <i class="fas fa-coffee"></i>
      <br>
      <h4>Lorem Ipsum dolor sit</h4>
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium deleniti labore nemo adipisci, omnis ducimus harum aperiam, natus quas temporibus rerum</p>
    </div>

    <div class="home-presentation-element">
      <br>
      <i class="fas fa-coffee"></i>
      <br>
      <h4>Lorem Ipsum dolor sit</h4>
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium deleniti labore nemo adipisci, omnis ducimus harum aperiam, natus quas temporibus rerum</p>
    </div>
  </div>
<% end %>

