<% if user_signed_in? %>
  <div class="wrapper">
    <div class="container">

      <div class='title-main'><h1>Hello <%= current_user.first_name %>! Ready to samplify?</h1></div>

      <div class='title-second'> <%= Sample.count %> coffee samples currently under management</div>

      <div class='sample-dashboard'>

        <div class='sample-status'>
          <div class='sample-count'><%= Sample.pending.count %></div>
          <div class='sample-count-status'> samples pending</div>
            <%= link_to pending_index_samples_path, method: :get do %>
              <div class='sample-action'>
                <p>Go to reception</p>
                <p><i class='fas fa-inbox'></i></p>
              </div>
            <% end %>
        </div>

        <div class='sample-status'>
          <div class='sample-count'><%= Sample.received.count %></div>
          <div class='sample-count-status'> samples received</div>
            <%= link_to received_index_samples_path, method: :get do  %>
              <div class='sample-action'>
                <p>Go to testing</p>
                <p><i class='fas fa-coffee'></i></p>
              </div>
            <% end %>
        </div>

        <div class='sample-status'>
          <div class='sample-count'><%= Sample.tested.count %></div>
          <div class='sample-count-status'> samples tested</div>
            <%= link_to tested_index_samples_path, method: :get do  %>
              <div class='sample-action'>
                <p>Go to labelling</p>
                <p><i class='fas fa-tags'></i>
              </div>
            <% end %>
        </div>

        <div class='sample-status'>
          <div class='sample-count'><%= Sample.labelled.count %></div>
          <div class='sample-count-status'> samples labelled</div>
            <%= link_to labelled_index_samples_path, method: :get do  %>
              <div class='sample-action'>
                <p>Go to sending</p>
                <p><i class='fas fa-share-square'></i></p>
              </div>
            <% end %>
        </div>
      </div>

      <div class='title-second'> <%= CoffeeLot.count %> coffee lots  currently under management</div>



      <div class="world-map">
      <h3>Locate your coffee lots provenance</h3>
        <img style="width: 1000px;" src="https://upload.wikimedia.org/wikipedia/commons/5/56/Newworldmap_grayscale.svg" alt="locate your coffee lots provenance">
      </div>

      <br>
      <div class="home-monitor-sample">
        <h3>Current activity</h3>
        <ul>
          <li><strong>Number of samples under management:</strong> <%= @samples.count %></li>
          <li><strong>Number of coffee lots under management:</strong> <%= @coffee_lot.count %></li>
          <li><strong>Number of coffee lots under management:</strong> <%= @coffee_lot.count %></li>
          <li><strong>Quantity of coffee under management:</strong> <%= @quantity.sum %> bags</li>
        </ul>
      </div>

      <div class="coffee-news">
        <h3>Coffee news</h3>
      </div>
    </div>
  </div>

<% else %>
  <div class="mybanner">
    <div class='action'>
      <%= link_to 'Log in', new_user_session_path, class: 'home-button' %>

    </div>
  </div>
  <div class="home-element-container">
    <div class="home-element">
      <h3>Coffee-lots monitoring</h3>
      <br>
      <p>Get notifications all along the import chain.</p>
    </div>
    <div class="home-element">
      <h3>Coffee-lots monitoring</h3>
      <br>
      <p>Get notifications all along the import chain.</p>
    </div>
    <div class="home-element">
      <h3>Customer relations</h3>
      <br>
      <p>Assign your best coffees to your best customers</p>
    </div>
  </div>



    <!-- <div class="content">
      <div class="left-side">
        <div class='logo'>
          <%#= image_tag "logo_new.png"  %>
        </div>
        <div class="illustration-wrapper">
          <%#= image_tag 'home_pics.png', class: "illustration" %>
        </div>
      </div>

      <div class="right-side">
        <div class="moto">
          <h1>Coffee trade made simple</h1>
        </div>
        <div class="samplify-offer">
          <div class="home-presentation-element"">
            <br>
            <h3>Coffee-lots monitoring</h3>
            <br>
            <p>Get notifications all along the import chain.</p>
                                                 </div>

          <div class="home-presentation-element">
            <br>
            <h3>Samples management</h3>
            <br>
            <p>Validate, test and send your samples seamlessly.</p>
          </div>

          <div class="home-presentation-element">
            <br>
            <h3>Customer relations</h3>
            <br>
            <p>Assign your best coffees to your best customers</p>
          </div>
        </div>

        <div class='action'>
          <%#= link_to new_user_session_path do %>
            <div class='home-button'>
              <p>Discover</p>
            </div>
          <%# end %>
          <%#= link_to new_user_session_path do %>
            <div class='home-button'>
              <p>Log in</p>
            </div>
          <%# end %>
        </div>
      </div>
    </div> -->

<% end %>

