<div class="grid-container">
  <div class="row">
    <% @etiquettes.each do |etiquette| %>
      <% etiquette.sample.coffee_lot.potential_clients.each do |potential_client|%>
      <div class="grid-element col-xs-12 col-sm-6">
        <%= wicked_pdf_image_tag "ecom.png", height: 50, class: "etiquette-logo" %>
        <h1>Sample from ECOM Trading</h1>
        <div class="address-element">

        <p> <em> To the attention of John, at </em> <%= etiquette.sample.coffee_lot.potential_clients.first.client.company_name %></p>
        <p><%= etiquette.sample.coffee_lot.potential_clients.first.client.phone_number %></p>
        </div>
        <p> <strong>Country of Origin: </strong> <%= etiquette.sample.coffee_lot.provenance %> </p>
        <p> <strong>Quantity: </strong> <%= etiquette.sample.coffee_lot.quantity %> bags</p>
        <p> <strong>Quality: </strong> <%= etiquette.sample.coffee_lot.quality_description %></p>

      </div>
    <% end %>
    <% end %>
    </div>
    <%= link_to "Get PDF", etiquettes_path(format: :pdf) %>
</div>
  <!-- </div> -->



