<div class="wrapper">
  <div class="container">
    <div class="show-container">
      <h3>Details of coffee #<%= @coffee_lot.iconumber %></h3>


      <div class="show-all-information">
        <h4 class="sample-show-historic-title text-left">
          General information for the lot
        </h4>

        <div class="show-all-left">
          <div class="show-all-title">
            <p>Exporter information:</p>
          </div>
          <div class="show-all-middle text-left">
            <ul>
              <li><strong>Name:</strong></li>
              <li><strong>Company:</strong></li>
              <li><strong>Mail:</strong></li>
              <li><strong>Phone:</strong></li>
            </ul>
          </div>
          <div class="show-all-right text-left">
            <ul>
              <li><%= @exporter.first_name.capitalize %> <%= @exporter.last_name.capitalize %></li>
              <li><%= @exporter.company_name.capitalize %></li>
              <li><%= @exporter.email %></li>
              <li><%= @exporter.phone_number %></li>
            </ul>
          </div>
        </div>

        <div class="show-all-left">
          <div class="show-all-title">
            <p>Coffee information:</p>
          </div>
          <div class="show-all-middle text-left">
            <ul>
              <li><strong>ICO number:</strong></li>
              <li><strong>Region:</strong></li>
              <li><strong>Country:</strong></li>
              <li><strong>Quantity:</strong></li>
            </ul>
          </div>
          <div class="show-all-coffee-right text-left">
            <ul>
              <li><%= @coffee_lot.iconumber %></li>
              <li><%= @coffee_lot.region %></li>
              <li><%= @coffee_lot.provenance %></li>
              <li><%= @coffee_lot.quantity %></li>
            </ul>
          </div>
        </div>

        <div class="show-all-left">
          <div class="show-all-title">
            <p>Coffee details:</p>
          </div>
          <div class="show-all-middle text-left">
            <ul>
              <li><strong>Tree:</strong></li>
              <li><strong>Certifications:</strong></li>
              <li><strong>Screen size:</strong></li>
              <li><strong>Cup profile:</strong></li>
              <li><strong>Quality description:</strong></li>
            </ul>
          </div>
          <div class="show-all-right text-left">
            <ul>
              <li><%= @coffee_lot.tree %></li>
              <li>
                <% count = 0 %>
                <% @coffee_lot.coffee_certifications.each do |coffee_certification| %>
                  <% if count = 0 %>
                    <span><%= coffee_certification.certification.name.capitalize %></span>
                  <% else %>
                    <span>, <%= coffee_certification.certification.name.capitalize %></span>
                  <% end %>
                  <% count += 1 %>
                <% end %>
              </li>
              <li><%= @coffee_lot.screen_size %></li>
              <li><%= @coffee_lot.cup_profile %></li>
              <li><%= @coffee_lot.quality_description %></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="show-quality-graph">
        <h4 class="sample-show-historic-title text-left">
          Samples quality from coffee #<%= @coffee_lot.iconumber %>
        </h4>
        <div style="width: 550px;">
          <canvas id="show-sample-historic-chart" data-acidity="<%= @acidity %>" data-clean="<%= @clean %>" data-sweetness="<%= @sweetness %>" data-labels="<%= @labels %>"></canvas>
        </div>
      </div>

      <div class="show-historic">
        <% if @coffee_lot.samples.count > 1 %>
          <h4 class="sample-show-historic-title text-left">
            Samples received
          </h4>
          <% @coffee_lot.samples.order(created_at: :desc).each do |sample| %>
            <div class="sample-show-details">
              <div class="sample-show-stage text-left">
                <h6>Detail of <%= sample.stage %> #<%= sample.id %></h4>
              </div>

              <div class="sample-show-card">
                <div class="sample-show-progress">
                  <p>progress bar pending</p>
                </div>
                <div class="sample-show-main">
                  <div class="sample-show-status">
                    <ul>
                      <li>received</li>
                      <li>tested</li>
                      <li>communicated</li>
                    </ul>
                  </div>
                  <div class="sample-show-info">
                    <p><%= sample.created_at %></p>
                    <p><%= sample.updated_at %></p>
                  </div>
                  <div class="sample-show-quality">
                    <ul>
                      <li>Acidity: <%= sample.acidity %></li>
                      <li>Sweetness: <%= sample.sweetness %></li>
                      <li>Clean: <%= sample.clean %></li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
          <% end %>
        <% end %>
      </div>

      <%= render "/shared/dashboard.html.erb" %>

    </div>
  </div>
</div>
