<p>Dear <%= @exporter.first_name.capitalize %>,</p>

<p> We have received your sample from <%= @sample.coffee_lot.provenance %>, iconumber <%=  @sample.coffee_lot.iconumber %>. </p>

<p>We cupped it and found an acidity of <%= @sample.acidity %>, and a sweetness of <%= @sample.sweetness %>. </p>

<p>Our trader will get back to you asap with a price ! </p>

<p>Best regards, </p>

<p>Louis</p>
