<p>Dear <%= @exporter.first_name.capitalize %>,</p>

<p> We have received your sample from <%= @sample.coffee_lot.provenance %>, iconumber <%=  @sample.coffee_lot.iconumber %>. </p>

<p>We cupped it and found it <%= @sample.flavour %>, an acidity of <%= @sample.acidity %>, and a sweetness of <%= @sample.sweetness %> </p>

<p>Best regards, </p>

<p>Louis</p>
